{% extends 'header.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

  

    <!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Detailed blogs</h1>
            
          </div>
        </div>
      </div>
    </div>

    <div class="more-info about-info">
      <div class="container">
        <div class="more-info-content">
          <div class="right-content">
            <div>
              <img src="assets/images/blog-image-fullscren-1-1920x700.jpg" class="img-fluid" alt="">
            </div>
           
            <h4>You have probably wondered if Rentcars is a legit car rental company, right? Then we’ll tell you!</h4>
            <p>Rentcars is one of the largest car rental platforms in the world and one of the global leaders in the segment. You can compare prices and car rental options among hundreds of car rental companies worldwide.</p>

            <p>The company was founded in 2009 with the mission to offer the best car rental options, focusing on on delivering excellent customer service and ensuring customer satisfaction from start to finish.
                <br>
              Rentcars also offers the best prices, with promotions and exclusive discounts throughout the year! Those who book through the platform can save up to 30% on the car rental rate.<br>If you are worried about support, Rentcars is one of the best rated companies on Trustpilot, with a score of 4.7/5 from over 70,000 reviews, proving the excellent service standards  and assuring quality throughout the experience!</p>
            
            <h4>5 tips to rent a car at Rentcars:</h4>

            <br>

            <p>1)Always book your car in advance;
              <br>
              2)Schedule your pick up time and don’t be late;
              <br>
              3)Always have your documents at hand;
              <br>
              4)Do the inspection of the car and ask questions;
              <br>
              5)Enjoy the rental car and feel free!</p>

            
          </div>
        </div>
      </div>
    </div>

    <div class="callback-form contact-us">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Leave a <em>comment</em></h2>
              <span>Phantom car services</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="contact-form">
              <form id="contact" action="" method="get">
                <div class="row">
                  <div class="col-lg-6 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-6 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="filled-button">Submit</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Starts Here -->
   
  </body>
  {% endblock%}
</html>